{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-object-assign",
              "transform-es2015-spread",
              "syntax-object-rest-spread",
              "syntax-async-functions",
              "transform-object-rest-spread"],
  "compact" : false,
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}